<app-header></app-header>

<section>

    <p>Join the <strong>fun.</strong></p>
    
    <form action="#" method="POST">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" required />
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required />
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required />
      <button type="submit">Join Now</button>
    </form>
    <div class="circles-container">
      <div class="circle pink"></div>
      <div class="circle blue1"></div>
  </div>
  
  </section>


<app-footer></app-footer>