<app-header></app-header>
<div class="father">
    <div class="all">
        <h1 class="title">Discover new music</h1>
        <div class="image-container">
            <div class="image">
                <img class="image2" src="../../assets/microphone.svg" />
                <p>Charts</p>
              </div>
              <div class="image">
                <img class="image2" src="../../assets/albums.svg" />
                <p>Albums</p>
              </div>
              <div class="image">
                <img class="image2" src="../../assets/more.svg" />
                <p>More</p>
              </div>
        </div>
        <p class="textdiscover">
        By joining you can benefit by listeningto the alstest album released.
      </p>
    </div>
    <div class="discover">
        <img class="albums" src="../../assets/covers.jpg" />
    </div>    
</div>

<app-footer></app-footer>